@font-face {
	font-family: 'Metrize-Icons';
	src:url(./../fonts/Metrize-Icons.eot);
	src:url(./../fonts/Metrize-Icons.eot) format('embedded-opentype'),
		url(./../fonts/Metrize-Icons.woff) format('woff'),
		url(./../fonts/Metrize-Icons.ttf) format('truetype'),
		url(./../images/Metrize-Icons.svg) format('svg');
	font-weight: normal;
	font-style: normal;
}

[class*="metriz"] {
	font-family: 'Metrize-Icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;	
}

.metriz-yen:before {
	content: "\e000";
}
.metriz-world:before {
	content: "\e001";
}
.metriz-wireframe-globe:before {
	content: "\e002";
}
.metriz-wind:before {
	content: "\e003";
}
.metriz-wifi:before {
	content: "\e004";
}
.metriz-waves:before {
	content: "\e005";
}
.metriz-viewport:before {
	content: "\e006";
}
.metriz-viewport-video:before {
	content: "\e007";
}
.metriz-user:before {
	content: "\e008";
}
.metriz-user-remove:before {
	content: "\e009";
}
.metriz-user-ban:before {
	content: "\e00a";
}
.metriz-user-add:before {
	content: "\e00b";
}
.metriz-upload:before {
	content: "\e00c";
}
.metriz-upload-selection:before {
	content: "\e00d";
}
.metriz-upload-selection-circle:before {
	content: "\e00e";
}
.metriz-underline:before {
	content: "\e00f";
}
.metriz-triple-points:before {
	content: "\e010";
}
.metriz-top-bottom:before {
	content: "\e011";
}
.metriz-three-points:before {
	content: "\e012";
}
.metriz-three-points-top:before {
	content: "\e013";
}
.metriz-three-points-bottom:before {
	content: "\e014";
}
.metriz-text-width:before {
	content: "\e015";
}
.metriz-text-size-upper:before {
	content: "\e016";
}
.metriz-text-size-reduce:before {
	content: "\e017";
}
.metriz-text-paragraph:before {
	content: "\e018";
}
.metriz-text-normal:before {
	content: "\e019";
}
.metriz-text-justify-right:before {
	content: "\e01a";
}
.metriz-text-justify-left:before {
	content: "\e01b";
}
.metriz-text-justify-center:before {
	content: "\e01c";
}
.metriz-text-height:before {
	content: "\e01d";
}
.metriz-text-center:before {
	content: "\e01e";
}
.metriz-text-bold:before {
	content: "\e01f";
}
.metriz-text-align-right:before {
	content: "\e020";
}
.metriz-text-align-left:before {
	content: "\e021";
}
.metriz-telephone:before {
	content: "\e022";
}
.metriz-sunshine:before {
	content: "\e023";
}
.metriz-sun:before {
	content: "\e024";
}
.metriz-stop:before {
	content: "\e025";
}
.metriz-star:before {
	content: "\e026";
}
.metriz-speed:before {
	content: "\e027";
}
.metriz-sound-on:before {
	content: "\e028";
}
.metriz-sound-off:before {
	content: "\e029";
}
.metriz-sos:before {
	content: "\e02a";
}
.metriz-social-zerply:before {
	content: "\e02b";
}
.metriz-social-youtube:before {
	content: "\e02c";
}
.metriz-social-yelp:before {
	content: "\e02d";
}
.metriz-social-yahoo:before {
	content: "\e02e";
}
.metriz-social-wordpress:before {
	content: "\e02f";
}
.metriz-social-virb:before {
	content: "\e030";
}
.metriz-social-vimeo:before {
	content: "\e031";
}
.metriz-social-viddler:before {
	content: "\e032";
}
.metriz-social-twitter:before {
	content: "\e033";
}
.metriz-social-tumblr:before {
	content: "\e034";
}
.metriz-social-stumbleupon:before {
	content: "\e035";
}
.metriz-social-soundcloud:before {
	content: "\e036";
}
.metriz-social-skype:before {
	content: "\e037";
}
.metriz-social-sharethis:before {
	content: "\e038";
}
.metriz-social-quora:before {
	content: "\e039";
}
.metriz-social-pinterest:before {
	content: "\e03a";
}
.metriz-social-photobucket:before {
	content: "\e03b";
}
.metriz-social-paypal:before {
	content: "\e03c";
}
.metriz-social-myspace:before {
	content: "\e03d";
}
.metriz-social-linkedin:before {
	content: "\e03e";
}
.metriz-social-last-fm:before {
	content: "\e03f";
}
.metriz-social-grooveshark:before {
	content: "\e040";
}
.metriz-social-google-plus:before {
	content: "\e041";
}
.metriz-social-github:before {
	content: "\e042";
}
.metriz-social-forrst:before {
	content: "\e043";
}
.metriz-social-flickr:before {
	content: "\e044";
}
.metriz-social-facebook:before {
	content: "\e045";
}
.metriz-social-evernote:before {
	content: "\e046";
}
.metriz-social-envato:before {
	content: "\e047";
}
.metriz-social-email:before {
	content: "\e048";
}
.metriz-social-dribbble:before {
	content: "\e049";
}
.metriz-social-digg:before {
	content: "\e04a";
}
.metriz-social-deviantart:before {
	content: "\e04b";
}
.metriz-social-blogger:before {
	content: "\e04c";
}
.metriz-social-behance:before {
	content: "\e04d";
}
.metriz-social-bebo:before {
	content: "\e04e";
}
.metriz-social-addthis:before {
	content: "\e04f";
}
.metriz-social-500px:before {
	content: "\e050";
}
.metriz-snow:before {
	content: "\e051";
}
.metriz-sliders:before {
	content: "\e052";
}
.metriz-sliders-vertical:before {
	content: "\e053";
}
.metriz-sign-male:before {
	content: "\e054";
}
.metriz-sign-female:before {
	content: "\e055";
}
.metriz-shield:before {
	content: "\e056";
}
.metriz-settings:before {
	content: "\e057";
}
.metriz-setting:before {
	content: "\e058";
}
.metriz-select-square:before {
	content: "\e059";
}
.metriz-select-circle:before {
	content: "\e05a";
}
.metriz-search:before {
	content: "\e05b";
}
.metriz-scale:before {
	content: "\e05c";
}
.metriz-rules:before {
	content: "\e05d";
}
.metriz-rss:before {
	content: "\e05e";
}
.metriz-retweet:before {
	content: "\e05f";
}
.metriz-report-comment:before {
	content: "\e060";
}
.metriz-refresh:before {
	content: "\e061";
}
.metriz-rec:before {
	content: "\e062";
}
.metriz-random:before {
	content: "\e063";
}
.metriz-quote:before {
	content: "\e064";
}
.metriz-question:before {
	content: "\e065";
}
.metriz-previous-fast-step:before {
	content: "\e066";
}
.metriz-prev-step:before {
	content: "\e067";
}
.metriz-pounds:before {
	content: "\e068";
}
.metriz-podcast:before {
	content: "\e069";
}
.metriz-plus:before {
	content: "\e06a";
}
.metriz-play:before {
	content: "\e06b";
}
.metriz-pin:before {
	content: "\e06c";
}
.metriz-pin-map:before {
	content: "\e06d";
}
.metriz-pig-money:before {
	content: "\e06e";
}
.metriz-pause:before {
	content: "\e06f";
}
.metriz-paperclip:before {
	content: "\e070";
}
.metriz-paperclip-oblique:before {
	content: "\e071";
}
.metriz-options-settings:before {
	content: "\e072";
}
.metriz-officine:before {
	content: "\e073";
}
.metriz-officine-2:before {
	content: "\e074";
}
.metriz-off:before {
	content: "\e075";
}
.metriz-number-zero:before {
	content: "\e076";
}
.metriz-number-two:before {
	content: "\e077";
}
.metriz-number-three:before {
	content: "\e078";
}
.metriz-number-six:before {
	content: "\e079";
}
.metriz-number-seven:before {
	content: "\e07a";
}
.metriz-number-one:before {
	content: "\e07b";
}
.metriz-number-nine:before {
	content: "\e07c";
}
.metriz-number-four:before {
	content: "\e07d";
}
.metriz-number-five:before {
	content: "\e07e";
}
.metriz-number-eight:before {
	content: "\e07f";
}
.metriz-next-step:before {
	content: "\e080";
}
.metriz-next-fast-step:before {
	content: "\e081";
}
.metriz-music:before {
	content: "\e082";
}
.metriz-multi-borders:before {
	content: "\e083";
}
.metriz-minus:before {
	content: "\e084";
}
.metriz-marker:before {
	content: "\e085";
}
.metriz-marker-points:before {
	content: "\e086";
}
.metriz-marker-minus:before {
	content: "\e087";
}
.metriz-marker-add:before {
	content: "\e088";
}
.metriz-map:before {
	content: "\e089";
}
.metriz-male-symbol:before {
	content: "\e08a";
}
.metriz-mailbox:before {
	content: "\e08b";
}
.metriz-mail:before {
	content: "\e08c";
}
.metriz-magnet:before {
	content: "\e08d";
}
.metriz-magic-wand:before {
	content: "\e08e";
}
.metriz-login-lock-refresh:before {
	content: "\e08f";
}
.metriz-locked:before {
	content: "\e090";
}
.metriz-location:before {
	content: "\e091";
}
.metriz-location-maps:before {
	content: "\e092";
}
.metriz-list-square:before {
	content: "\e093";
}
.metriz-list-circle:before {
	content: "\e094";
}
.metriz-link-url:before {
	content: "\e095";
}
.metriz-line-through:before {
	content: "\e096";
}
.metriz-limit-directions:before {
	content: "\e097";
}
.metriz-like-upload:before {
	content: "\e098";
}
.metriz-like-remove:before {
	content: "\e099";
}
.metriz-like-download:before {
	content: "\e09a";
}
.metriz-like-close:before {
	content: "\e09b";
}
.metriz-like-ban:before {
	content: "\e09c";
}
.metriz-like-add:before {
	content: "\e09d";
}
.metriz-left-right:before {
	content: "\e09e";
}
.metriz-leaf:before {
	content: "\e09f";
}
.metriz-layers:before {
	content: "\e0a0";
}
.metriz-landscape:before {
	content: "\e0a1";
}
.metriz-key:before {
	content: "\e0a2";
}
.metriz-italic:before {
	content: "\e0a3";
}
.metriz-info:before {
	content: "\e0a4";
}
.metriz-idea:before {
	content: "\e0a5";
}
.metriz-home-wifi:before {
	content: "\e0a6";
}
.metriz-heart:before {
	content: "\e0a7";
}
.metriz-hdd:before {
	content: "\e0a8";
}
.metriz-hdd-raid:before {
	content: "\e0a9";
}
.metriz-hdd-net:before {
	content: "\e0aa";
}
.metriz-grids:before {
	content: "\e0ab";
}
.metriz-grid-big:before {
	content: "\e0ac";
}
.metriz-graphs:before {
	content: "\e0ad";
}
.metriz-forward:before {
	content: "\e0ae";
}
.metriz-fire:before {
	content: "\e0af";
}
.metriz-female-symbol:before {
	content: "\e0b0";
}
.metriz-eye:before {
	content: "\e0b1";
}
.metriz-eye-disabled:before {
	content: "\e0b2";
}
.metriz-expand:before {
	content: "\e0b3";
}
.metriz-expand-vertical:before {
	content: "\e0b4";
}
.metriz-expand-horizontal:before {
	content: "\e0b5";
}
.metriz-expand-directions:before {
	content: "\e0b6";
}
.metriz-exclamation:before {
	content: "\e0b7";
}
.metriz-euro:before {
	content: "\e0b8";
}
.metriz-email-upload:before {
	content: "\e0b9";
}
.metriz-email-spam:before {
	content: "\e0ba";
}
.metriz-email-remove:before {
	content: "\e0bb";
}
.metriz-email-luminosity:before {
	content: "\e0bc";
}
.metriz-email-download:before {
	content: "\e0bd";
}
.metriz-email-close:before {
	content: "\e0be";
}
.metriz-email-add:before {
	content: "\e0bf";
}
.metriz-eject:before {
	content: "\e0c0";
}
.metriz-drops:before {
	content: "\e0c1";
}
.metriz-drop:before {
	content: "\e0c2";
}
.metriz-download:before {
	content: "\e0c3";
}
.metriz-download-selection:before {
	content: "\e0c4";
}
.metriz-download-selection-circle:before {
	content: "\e0c5";
}
.metriz-double-diamonds:before {
	content: "\e0c6";
}
.metriz-dot-square:before {
	content: "\e0c7";
}
.metriz-dot-line:before {
	content: "\e0c8";
}
.metriz-dot-circle:before {
	content: "\e0c9";
}
.metriz-dollar:before {
	content: "\e0ca";
}
.metriz-documents:before {
	content: "\e0cb";
}
.metriz-document:before {
	content: "\e0cc";
}
.metriz-document-fill:before {
	content: "\e0cd";
}
.metriz-directions:before {
	content: "\e0ce";
}
.metriz-cross:before {
	content: "\e0cf";
}
.metriz-credit-card:before {
	content: "\e0d0";
}
.metriz-copy-paste-document:before {
	content: "\e0d1";
}
.metriz-copy-document:before {
	content: "\e0d2";
}
.metriz-contract-vertical:before {
	content: "\e0d3";
}
.metriz-contract-horizontal:before {
	content: "\e0d4";
}
.metriz-contract-directions:before {
	content: "\e0d5";
}
.metriz-compass:before {
	content: "\e0d6";
}
.metriz-compass-2:before {
	content: "\e0d7";
}
.metriz-comments:before {
	content: "\e0d8";
}
.metriz-comment:before {
	content: "\e0d9";
}
.metriz-coins:before {
	content: "\e0da";
}
.metriz-cloud:before {
	content: "\e0db";
}
.metriz-cloud-upload:before {
	content: "\e0dc";
}
.metriz-cloud-remove:before {
	content: "\e0dd";
}
.metriz-cloud-download:before {
	content: "\e0de";
}
.metriz-cloud-add:before {
	content: "\e0df";
}
.metriz-clock:before {
	content: "\e0e0";
}
.metriz-circles:before {
	content: "\e0e1";
}
.metriz-check:before {
	content: "\e0e2";
}
.metriz-chat:before {
	content: "\e0e3";
}
.metriz-chart-down:before {
	content: "\e0e4";
}
.metriz-cd-dvd-rom:before {
	content: "\e0e5";
}
.metriz-camera:before {
	content: "\e0e6";
}
.metriz-button-question:before {
	content: "\e0e7";
}
.metriz-button-minus:before {
	content: "\e0e8";
}
.metriz-button-exclamation:before {
	content: "\e0e9";
}
.metriz-button-email:before {
	content: "\e0ea";
}
.metriz-button-close:before {
	content: "\e0eb";
}
.metriz-button-check:before {
	content: "\e0ec";
}
.metriz-button-add:before {
	content: "\e0ed";
}
.metriz-brush:before {
	content: "\e0ee";
}
.metriz-browser-sizes:before {
	content: "\e0ef";
}
.metriz-box-remove:before {
	content: "\e0f0";
}
.metriz-box-close:before {
	content: "\e0f1";
}
.metriz-box-blank:before {
	content: "\e0f2";
}
.metriz-box-add:before {
	content: "\e0f3";
}
.metriz-bolt:before {
	content: "\e0f4";
}
.metriz-block-menu:before {
	content: "\e0f5";
}
.metriz-blank:before {
	content: "\e0f6";
}
.metriz-bezier:before {
	content: "\e0f7";
}
.metriz-bars:before {
	content: "\e0f8";
}
.metriz-ban-circle:before {
	content: "\e0f9";
}
.metriz-bag:before {
	content: "\e0fa";
}
.metriz-backward:before {
	content: "\e0fb";
}
.metriz-axis-rules:before {
	content: "\e0fc";
}
.metriz-atom:before {
	content: "\e0fd";
}
.metriz-arrow-up:before {
	content: "\e0fe";
}
.metriz-arrow-up-thin:before {
	content: "\e0ff";
}
.metriz-arrow-up-light:before {
	content: "\e100";
}
.metriz-arrow-up-bold:before {
	content: "\e101";
}
.metriz-arrow-up-bold-round:before {
	content: "\e102";
}
.metriz-arrow-up-big:before {
	content: "\e103";
}
.metriz-arrow-right:before {
	content: "\e104";
}
.metriz-arrow-right-thin:before {
	content: "\e105";
}
.metriz-arrow-right-light:before {
	content: "\e106";
}
.metriz-arrow-right-bold:before {
	content: "\e107";
}
.metriz-arrow-right-bold-round:before {
	content: "\e108";
}
.metriz-arrow-right-big:before {
	content: "\e109";
}
.metriz-arrow-oblique-expand:before {
	content: "\e10a";
}
.metriz-arrow-oblique-expand-directions:before {
	content: "\e10b";
}
.metriz-arrow-oblique-contract:before {
	content: "\e10c";
}
.metriz-arrow-oblique-contract-directions:before {
	content: "\e10d";
}
.metriz-arrow-multi-line-up:before {
	content: "\e10e";
}
.metriz-arrow-multi-line-right:before {
	content: "\e10f";
}
.metriz-arrow-multi-line-left:before {
	content: "\e110";
}
.metriz-arrow-multi-line-down:before {
	content: "\e111";
}
.metriz-arrow-left:before {
	content: "\e112";
}
.metriz-arrow-left-thin:before {
	content: "\e113";
}
.metriz-arrow-left-light:before {
	content: "\e114";
}
.metriz-arrow-left-bold:before {
	content: "\e115";
}
.metriz-arrow-left-bold-round:before {
	content: "\e116";
}
.metriz-arrow-left-big:before {
	content: "\e117";
}
.metriz-arrow-fill-up:before {
	content: "\e118";
}
.metriz-arrow-fill-right:before {
	content: "\e119";
}
.metriz-arrow-fill-left:before {
	content: "\e11a";
}
.metriz-arrow-fill-down:before {
	content: "\e11b";
}
.metriz-arrow-down:before {
	content: "\e11c";
}
.metriz-arrow-down-thin:before {
	content: "\e11d";
}
.metriz-arrow-down-light:before {
	content: "\e11e";
}
.metriz-arrow-down-bold:before {
	content: "\e11f";
}
.metriz-arrow-down-bold-round:before {
	content: "\e120";
}
.metriz-arrow-down-big:before {
	content: "\e121";
}
.metriz-arrow-cycling:before {
	content: "\e122";
}
.metriz-arrow-cycle:before {
	content: "\e123";
}
.metriz-arrow-curve-right:before {
	content: "\e124";
}
.metriz-arrow-curve-recycle:before {
	content: "\e125";
}
.metriz-arrow-curve-left:before {
	content: "\e126";
}
.metriz-animal-footprint:before {
	content: "\e127";
}
.metriz-alarm-clock:before {
	content: "\e128";
}
.metriz-air-plane:before {
	content: "\e129";
}
.metriz-adjust:before {
	content: "\e12a";
}
.metriz-cube:before {
	content: "\e12b";
}
