@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(./../fonts/MaterialIcons-Regular.eot);
	src: local("Material Icons"), local("MaterialIcons-Regular"), url(././../fonts/MaterialIcons-Regular.woff2) format("woff2"), url(./../fonts/MaterialIcons-Regular.woff) format("woff"), url(./../fonts/MaterialIcons-Regular.ttf) format("truetype")
}

.material-icons {
	display: inline-block;
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-feature-settings: 'liga';
	font-feature-settings: 'liga'
}

.material-icons.md-3d_rotation:before {
	content: "\e84d"
}

.material-icons.md-ac_unit:before {
	content: "\eb3b"
}

.material-icons.md-access_alarm:before {
	content: "\e190"
}

.material-icons.md-access_alarms:before {
	content: "\e191"
}

.material-icons.md-access_time:before {
	content: "\e192"
}

.material-icons.md-accessibility:before {
	content: "\e84e"
}

.material-icons.md-accessible:before {
	content: "\e914"
}

.material-icons.md-account_balance:before {
	content: "\e84f"
}

.material-icons.md-account_balance_wallet:before {
	content: "\e850"
}

.material-icons.md-account_box:before {
	content: "\e851"
}

.material-icons.md-account_circle:before {
	content: "\e853"
}

.material-icons.md-adb:before {
	content: "\e60e"
}

.material-icons.md-add:before {
	content: "\e145"
}

.material-icons.md-add_a_photo:before {
	content: "\e439"
}

.material-icons.md-add_alarm:before {
	content: "\e193"
}

.material-icons.md-add_alert:before {
	content: "\e003"
}

.material-icons.md-add_box:before {
	content: "\e146"
}

.material-icons.md-add_circle:before {
	content: "\e147"
}

.material-icons.md-add_circle_outline:before {
	content: "\e148"
}

.material-icons.md-add_location:before {
	content: "\e567"
}

.material-icons.md-add_shopping_cart:before {
	content: "\e854"
}

.material-icons.md-add_to_photos:before {
	content: "\e39d"
}

.material-icons.md-add_to_queue:before {
	content: "\e05c"
}

.material-icons.md-adjust:before {
	content: "\e39e"
}

.material-icons.md-airline_seat_flat:before {
	content: "\e630"
}

.material-icons.md-airline_seat_flat_angled:before {
	content: "\e631"
}

.material-icons.md-airline_seat_individual_suite:before {
	content: "\e632"
}

.material-icons.md-airline_seat_legroom_extra:before {
	content: "\e633"
}

.material-icons.md-airline_seat_legroom_normal:before {
	content: "\e634"
}

.material-icons.md-airline_seat_legroom_reduced:before {
	content: "\e635"
}

.material-icons.md-airline_seat_recline_extra:before {
	content: "\e636"
}

.material-icons.md-airline_seat_recline_normal:before {
	content: "\e637"
}

.material-icons.md-airplanemode_active:before {
	content: "\e195"
}

.material-icons.md-airplanemode_inactive:before {
	content: "\e194"
}

.material-icons.md-airplay:before {
	content: "\e055"
}

.material-icons.md-airport_shuttle:before {
	content: "\eb3c"
}

.material-icons.md-alarm:before {
	content: "\e855"
}

.material-icons.md-alarm_add:before {
	content: "\e856"
}

.material-icons.md-alarm_off:before {
	content: "\e857"
}

.material-icons.md-alarm_on:before {
	content: "\e858"
}

.material-icons.md-album:before {
	content: "\e019"
}

.material-icons.md-all_inclusive:before {
	content: "\eb3d"
}

.material-icons.md-all_out:before {
	content: "\e90b"
}

.material-icons.md-android:before {
	content: "\e859"
}

.material-icons.md-announcement:before {
	content: "\e85a"
}

.material-icons.md-apps:before {
	content: "\e5c3"
}

.material-icons.md-archive:before {
	content: "\e149"
}

.material-icons.md-arrow_back:before {
	content: "\e5c4"
}

.material-icons.md-arrow_downward:before {
	content: "\e5db"
}

.material-icons.md-arrow_drop_down:before {
	content: "\e5c5"
}

.material-icons.md-arrow_drop_down_circle:before {
	content: "\e5c6"
}

.material-icons.md-arrow_drop_up:before {
	content: "\e5c7"
}

.material-icons.md-arrow_forward:before {
	content: "\e5c8"
}

.material-icons.md-arrow_upward:before {
	content: "\e5d8"
}

.material-icons.md-art_track:before {
	content: "\e060"
}

.material-icons.md-aspect_ratio:before {
	content: "\e85b"
}

.material-icons.md-assessment:before {
	content: "\e85c"
}

.material-icons.md-assignment:before {
	content: "\e85d"
}

.material-icons.md-assignment_ind:before {
	content: "\e85e"
}

.material-icons.md-assignment_late:before {
	content: "\e85f"
}

.material-icons.md-assignment_return:before {
	content: "\e860"
}

.material-icons.md-assignment_returned:before {
	content: "\e861"
}

.material-icons.md-assignment_turned_in:before {
	content: "\e862"
}

.material-icons.md-assistant:before {
	content: "\e39f"
}

.material-icons.md-assistant_photo:before {
	content: "\e3a0"
}

.material-icons.md-attach_file:before {
	content: "\e226"
}

.material-icons.md-attach_money:before {
	content: "\e227"
}

.material-icons.md-attachment:before {
	content: "\e2bc"
}

.material-icons.md-audiotrack:before {
	content: "\e3a1"
}

.material-icons.md-autorenew:before {
	content: "\e863"
}

.material-icons.md-av_timer:before {
	content: "\e01b"
}

.material-icons.md-backspace:before {
	content: "\e14a"
}

.material-icons.md-backup:before {
	content: "\e864"
}

.material-icons.md-battery_alert:before {
	content: "\e19c"
}

.material-icons.md-battery_charging_full:before {
	content: "\e1a3"
}

.material-icons.md-battery_full:before {
	content: "\e1a4"
}

.material-icons.md-battery_std:before {
	content: "\e1a5"
}

.material-icons.md-battery_unknown:before {
	content: "\e1a6"
}

.material-icons.md-beach_access:before {
	content: "\eb3e"
}

.material-icons.md-beenhere:before {
	content: "\e52d"
}

.material-icons.md-block:before {
	content: "\e14b"
}

.material-icons.md-bluetooth:before {
	content: "\e1a7"
}

.material-icons.md-bluetooth_audio:before {
	content: "\e60f"
}

.material-icons.md-bluetooth_connected:before {
	content: "\e1a8"
}

.material-icons.md-bluetooth_disabled:before {
	content: "\e1a9"
}

.material-icons.md-bluetooth_searching:before {
	content: "\e1aa"
}

.material-icons.md-blur_circular:before {
	content: "\e3a2"
}

.material-icons.md-blur_linear:before {
	content: "\e3a3"
}

.material-icons.md-blur_off:before {
	content: "\e3a4"
}

.material-icons.md-blur_on:before {
	content: "\e3a5"
}

.material-icons.md-book:before {
	content: "\e865"
}

.material-icons.md-bookmark:before {
	content: "\e866"
}

.material-icons.md-bookmark_border:before {
	content: "\e867"
}

.material-icons.md-border_all:before {
	content: "\e228"
}

.material-icons.md-border_bottom:before {
	content: "\e229"
}

.material-icons.md-border_clear:before {
	content: "\e22a"
}

.material-icons.md-border_color:before {
	content: "\e22b"
}

.material-icons.md-border_horizontal:before {
	content: "\e22c"
}

.material-icons.md-border_inner:before {
	content: "\e22d"
}

.material-icons.md-border_left:before {
	content: "\e22e"
}

.material-icons.md-border_outer:before {
	content: "\e22f"
}

.material-icons.md-border_right:before {
	content: "\e230"
}

.material-icons.md-border_style:before {
	content: "\e231"
}

.material-icons.md-border_top:before {
	content: "\e232"
}

.material-icons.md-border_vertical:before {
	content: "\e233"
}

.material-icons.md-branding_watermark:before {
	content: "\e06b"
}

.material-icons.md-brightness_1:before {
	content: "\e3a6"
}

.material-icons.md-brightness_2:before {
	content: "\e3a7"
}

.material-icons.md-brightness_3:before {
	content: "\e3a8"
}

.material-icons.md-brightness_4:before {
	content: "\e3a9"
}

.material-icons.md-brightness_5:before {
	content: "\e3aa"
}

.material-icons.md-brightness_6:before {
	content: "\e3ab"
}

.material-icons.md-brightness_7:before {
	content: "\e3ac"
}

.material-icons.md-brightness_auto:before {
	content: "\e1ab"
}

.material-icons.md-brightness_high:before {
	content: "\e1ac"
}

.material-icons.md-brightness_low:before {
	content: "\e1ad"
}

.material-icons.md-brightness_medium:before {
	content: "\e1ae"
}

.material-icons.md-broken_image:before {
	content: "\e3ad"
}

.material-icons.md-brush:before {
	content: "\e3ae"
}

.material-icons.md-bubble_chart:before {
	content: "\e6dd"
}

.material-icons.md-bug_report:before {
	content: "\e868"
}

.material-icons.md-build:before {
	content: "\e869"
}

.material-icons.md-burst_mode:before {
	content: "\e43c"
}

.material-icons.md-business:before {
	content: "\e0af"
}

.material-icons.md-business_center:before {
	content: "\eb3f"
}

.material-icons.md-cached:before {
	content: "\e86a"
}

.material-icons.md-cake:before {
	content: "\e7e9"
}

.material-icons.md-call:before {
	content: "\e0b0"
}

.material-icons.md-call_end:before {
	content: "\e0b1"
}

.material-icons.md-call_made:before {
	content: "\e0b2"
}

.material-icons.md-call_merge:before {
	content: "\e0b3"
}

.material-icons.md-call_missed:before {
	content: "\e0b4"
}

.material-icons.md-call_missed_outgoing:before {
	content: "\e0e4"
}

.material-icons.md-call_received:before {
	content: "\e0b5"
}

.material-icons.md-call_split:before {
	content: "\e0b6"
}

.material-icons.md-call_to_action:before {
	content: "\e06c"
}

.material-icons.md-camera:before {
	content: "\e3af"
}

.material-icons.md-camera_alt:before {
	content: "\e3b0"
}

.material-icons.md-camera_enhance:before {
	content: "\e8fc"
}

.material-icons.md-camera_front:before {
	content: "\e3b1"
}

.material-icons.md-camera_rear:before {
	content: "\e3b2"
}

.material-icons.md-camera_roll:before {
	content: "\e3b3"
}

.material-icons.md-cancel:before {
	content: "\e5c9"
}

.material-icons.md-card_giftcard:before {
	content: "\e8f6"
}

.material-icons.md-card_membership:before {
	content: "\e8f7"
}

.material-icons.md-card_travel:before {
	content: "\e8f8"
}

.material-icons.md-casino:before {
	content: "\eb40"
}

.material-icons.md-cast:before {
	content: "\e307"
}

.material-icons.md-cast_connected:before {
	content: "\e308"
}

.material-icons.md-center_focus_strong:before {
	content: "\e3b4"
}

.material-icons.md-center_focus_weak:before {
	content: "\e3b5"
}

.material-icons.md-change_history:before {
	content: "\e86b"
}

.material-icons.md-chat:before {
	content: "\e0b7"
}

.material-icons.md-chat_bubble:before {
	content: "\e0ca"
}

.material-icons.md-chat_bubble_outline:before {
	content: "\e0cb"
}

.material-icons.md-check:before {
	content: "\e5ca"
}

.material-icons.md-check_box:before {
	content: "\e834"
}

.material-icons.md-check_box_outline_blank:before {
	content: "\e835"
}

.material-icons.md-check_circle:before {
	content: "\e86c"
}

.material-icons.md-chevron_left:before {
	content: "\e5cb"
}

.material-icons.md-chevron_right:before {
	content: "\e5cc"
}

.material-icons.md-child_care:before {
	content: "\eb41"
}

.material-icons.md-child_friendly:before {
	content: "\eb42"
}

.material-icons.md-chrome_reader_mode:before {
	content: "\e86d"
}

.material-icons.md-class:before {
	content: "\e86e"
}

.material-icons.md-clear:before {
	content: "\e14c"
}

.material-icons.md-clear_all:before {
	content: "\e0b8"
}

.material-icons.md-close:before {
	content: "\e5cd"
}

.material-icons.md-closed_caption:before {
	content: "\e01c"
}

.material-icons.md-cloud:before {
	content: "\e2bd"
}

.material-icons.md-cloud_circle:before {
	content: "\e2be"
}

.material-icons.md-cloud_done:before {
	content: "\e2bf"
}

.material-icons.md-cloud_download:before {
	content: "\e2c0"
}

.material-icons.md-cloud_off:before {
	content: "\e2c1"
}

.material-icons.md-cloud_queue:before {
	content: "\e2c2"
}

.material-icons.md-cloud_upload:before {
	content: "\e2c3"
}

.material-icons.md-code:before {
	content: "\e86f"
}

.material-icons.md-collections:before {
	content: "\e3b6"
}

.material-icons.md-collections_bookmark:before {
	content: "\e431"
}

.material-icons.md-color_lens:before {
	content: "\e3b7"
}

.material-icons.md-colorize:before {
	content: "\e3b8"
}

.material-icons.md-comment:before {
	content: "\e0b9"
}

.material-icons.md-compare:before {
	content: "\e3b9"
}

.material-icons.md-compare_arrows:before {
	content: "\e915"
}

.material-icons.md-computer:before {
	content: "\e30a"
}

.material-icons.md-confirmation_number:before {
	content: "\e638"
}

.material-icons.md-contact_mail:before {
	content: "\e0d0"
}

.material-icons.md-contact_phone:before {
	content: "\e0cf"
}

.material-icons.md-contacts:before {
	content: "\e0ba"
}

.material-icons.md-content_copy:before {
	content: "\e14d"
}

.material-icons.md-content_cut:before {
	content: "\e14e"
}

.material-icons.md-content_paste:before {
	content: "\e14f"
}

.material-icons.md-control_point:before {
	content: "\e3ba"
}

.material-icons.md-control_point_duplicate:before {
	content: "\e3bb"
}

.material-icons.md-copyright:before {
	content: "\e90c"
}

.material-icons.md-create:before {
	content: "\e150"
}

.material-icons.md-create_new_folder:before {
	content: "\e2cc"
}

.material-icons.md-credit_card:before {
	content: "\e870"
}

.material-icons.md-crop:before {
	content: "\e3be"
}

.material-icons.md-crop_16_9:before {
	content: "\e3bc"
}

.material-icons.md-crop_3_2:before {
	content: "\e3bd"
}

.material-icons.md-crop_5_4:before {
	content: "\e3bf"
}

.material-icons.md-crop_7_5:before {
	content: "\e3c0"
}

.material-icons.md-crop_din:before {
	content: "\e3c1"
}

.material-icons.md-crop_free:before {
	content: "\e3c2"
}

.material-icons.md-crop_landscape:before {
	content: "\e3c3"
}

.material-icons.md-crop_original:before {
	content: "\e3c4"
}

.material-icons.md-crop_portrait:before {
	content: "\e3c5"
}

.material-icons.md-crop_rotate:before {
	content: "\e437"
}

.material-icons.md-crop_square:before {
	content: "\e3c6"
}

.material-icons.md-dashboard:before {
	content: "\e871"
}

.material-icons.md-data_usage:before {
	content: "\e1af"
}

.material-icons.md-date_range:before {
	content: "\e916"
}

.material-icons.md-dehaze:before {
	content: "\e3c7"
}

.material-icons.md-delete:before {
	content: "\e872"
}

.material-icons.md-delete_forever:before {
	content: "\e92b"
}

.material-icons.md-delete_sweep:before {
	content: "\e16c"
}

.material-icons.md-description:before {
	content: "\e873"
}

.material-icons.md-desktop_mac:before {
	content: "\e30b"
}

.material-icons.md-desktop_windows:before {
	content: "\e30c"
}

.material-icons.md-details:before {
	content: "\e3c8"
}

.material-icons.md-developer_board:before {
	content: "\e30d"
}

.material-icons.md-developer_mode:before {
	content: "\e1b0"
}

.material-icons.md-device_hub:before {
	content: "\e335"
}

.material-icons.md-devices:before {
	content: "\e1b1"
}

.material-icons.md-devices_other:before {
	content: "\e337"
}

.material-icons.md-dialer_sip:before {
	content: "\e0bb"
}

.material-icons.md-dialpad:before {
	content: "\e0bc"
}

.material-icons.md-directions:before {
	content: "\e52e"
}

.material-icons.md-directions_bike:before {
	content: "\e52f"
}

.material-icons.md-directions_boat:before {
	content: "\e532"
}

.material-icons.md-directions_bus:before {
	content: "\e530"
}

.material-icons.md-directions_car:before {
	content: "\e531"
}

.material-icons.md-directions_railway:before {
	content: "\e534"
}

.material-icons.md-directions_run:before {
	content: "\e566"
}

.material-icons.md-directions_subway:before {
	content: "\e533"
}

.material-icons.md-directions_transit:before {
	content: "\e535"
}

.material-icons.md-directions_walk:before {
	content: "\e536"
}

.material-icons.md-disc_full:before {
	content: "\e610"
}

.material-icons.md-dns:before {
	content: "\e875"
}

.material-icons.md-do_not_disturb:before {
	content: "\e612"
}

.material-icons.md-do_not_disturb_alt:before {
	content: "\e611"
}

.material-icons.md-do_not_disturb_off:before {
	content: "\e643"
}

.material-icons.md-do_not_disturb_on:before {
	content: "\e644"
}

.material-icons.md-dock:before {
	content: "\e30e"
}

.material-icons.md-domain:before {
	content: "\e7ee"
}

.material-icons.md-done:before {
	content: "\e876"
}

.material-icons.md-done_all:before {
	content: "\e877"
}

.material-icons.md-donut_large:before {
	content: "\e917"
}

.material-icons.md-donut_small:before {
	content: "\e918"
}

.material-icons.md-drafts:before {
	content: "\e151"
}

.material-icons.md-drag_handle:before {
	content: "\e25d"
}

.material-icons.md-drive_eta:before {
	content: "\e613"
}

.material-icons.md-dvr:before {
	content: "\e1b2"
}

.material-icons.md-edit:before {
	content: "\e3c9"
}

.material-icons.md-edit_location:before {
	content: "\e568"
}

.material-icons.md-eject:before {
	content: "\e8fb"
}

.material-icons.md-email:before {
	content: "\e0be"
}

.material-icons.md-enhanced_encryption:before {
	content: "\e63f"
}

.material-icons.md-equalizer:before {
	content: "\e01d"
}

.material-icons.md-error:before {
	content: "\e000"
}

.material-icons.md-error_outline:before {
	content: "\e001"
}

.material-icons.md-euro_symbol:before {
	content: "\e926"
}

.material-icons.md-ev_station:before {
	content: "\e56d"
}

.material-icons.md-event:before {
	content: "\e878"
}

.material-icons.md-event_available:before {
	content: "\e614"
}

.material-icons.md-event_busy:before {
	content: "\e615"
}

.material-icons.md-event_note:before {
	content: "\e616"
}

.material-icons.md-event_seat:before {
	content: "\e903"
}

.material-icons.md-exit_to_app:before {
	content: "\e879"
}

.material-icons.md-expand_less:before {
	content: "\e5ce"
}

.material-icons.md-expand_more:before {
	content: "\e5cf"
}

.material-icons.md-explicit:before {
	content: "\e01e"
}

.material-icons.md-explore:before {
	content: "\e87a"
}

.material-icons.md-exposure:before {
	content: "\e3ca"
}

.material-icons.md-exposure_neg_1:before {
	content: "\e3cb"
}

.material-icons.md-exposure_neg_2:before {
	content: "\e3cc"
}

.material-icons.md-exposure_plus_1:before {
	content: "\e3cd"
}

.material-icons.md-exposure_plus_2:before {
	content: "\e3ce"
}

.material-icons.md-exposure_zero:before {
	content: "\e3cf"
}

.material-icons.md-extension:before {
	content: "\e87b"
}

.material-icons.md-face:before {
	content: "\e87c"
}

.material-icons.md-fast_forward:before {
	content: "\e01f"
}

.material-icons.md-fast_rewind:before {
	content: "\e020"
}

.material-icons.md-favorite:before {
	content: "\e87d"
}

.material-icons.md-favorite_border:before {
	content: "\e87e"
}

.material-icons.md-featured_play_list:before {
	content: "\e06d"
}

.material-icons.md-featured_video:before {
	content: "\e06e"
}

.material-icons.md-feedback:before {
	content: "\e87f"
}

.material-icons.md-fiber_dvr:before {
	content: "\e05d"
}

.material-icons.md-fiber_manual_record:before {
	content: "\e061"
}

.material-icons.md-fiber_new:before {
	content: "\e05e"
}

.material-icons.md-fiber_pin:before {
	content: "\e06a"
}

.material-icons.md-fiber_smart_record:before {
	content: "\e062"
}

.material-icons.md-file_download:before {
	content: "\e2c4"
}

.material-icons.md-file_upload:before {
	content: "\e2c6"
}

.material-icons.md-filter:before {
	content: "\e3d3"
}

.material-icons.md-filter_1:before {
	content: "\e3d0"
}

.material-icons.md-filter_2:before {
	content: "\e3d1"
}

.material-icons.md-filter_3:before {
	content: "\e3d2"
}

.material-icons.md-filter_4:before {
	content: "\e3d4"
}

.material-icons.md-filter_5:before {
	content: "\e3d5"
}

.material-icons.md-filter_6:before {
	content: "\e3d6"
}

.material-icons.md-filter_7:before {
	content: "\e3d7"
}

.material-icons.md-filter_8:before {
	content: "\e3d8"
}

.material-icons.md-filter_9:before {
	content: "\e3d9"
}

.material-icons.md-filter_9_plus:before {
	content: "\e3da"
}

.material-icons.md-filter_b_and_w:before {
	content: "\e3db"
}

.material-icons.md-filter_center_focus:before {
	content: "\e3dc"
}

.material-icons.md-filter_drama:before {
	content: "\e3dd"
}

.material-icons.md-filter_frames:before {
	content: "\e3de"
}

.material-icons.md-filter_hdr:before {
	content: "\e3df"
}

.material-icons.md-filter_list:before {
	content: "\e152"
}

.material-icons.md-filter_none:before {
	content: "\e3e0"
}

.material-icons.md-filter_tilt_shift:before {
	content: "\e3e2"
}

.material-icons.md-filter_vintage:before {
	content: "\e3e3"
}

.material-icons.md-find_in_page:before {
	content: "\e880"
}

.material-icons.md-find_replace:before {
	content: "\e881"
}

.material-icons.md-fingerprint:before {
	content: "\e90d"
}

.material-icons.md-first_page:before {
	content: "\e5dc"
}

.material-icons.md-fitness_center:before {
	content: "\eb43"
}

.material-icons.md-flag:before {
	content: "\e153"
}

.material-icons.md-flare:before {
	content: "\e3e4"
}

.material-icons.md-flash_auto:before {
	content: "\e3e5"
}

.material-icons.md-flash_off:before {
	content: "\e3e6"
}

.material-icons.md-flash_on:before {
	content: "\e3e7"
}

.material-icons.md-flight:before {
	content: "\e539"
}

.material-icons.md-flight_land:before {
	content: "\e904"
}

.material-icons.md-flight_takeoff:before {
	content: "\e905"
}

.material-icons.md-flip:before {
	content: "\e3e8"
}

.material-icons.md-flip_to_back:before {
	content: "\e882"
}

.material-icons.md-flip_to_front:before {
	content: "\e883"
}

.material-icons.md-folder:before {
	content: "\e2c7"
}

.material-icons.md-folder_open:before {
	content: "\e2c8"
}

.material-icons.md-folder_shared:before {
	content: "\e2c9"
}

.material-icons.md-folder_special:before {
	content: "\e617"
}

.material-icons.md-font_download:before {
	content: "\e167"
}

.material-icons.md-format_align_center:before {
	content: "\e234"
}

.material-icons.md-format_align_justify:before {
	content: "\e235"
}

.material-icons.md-format_align_left:before {
	content: "\e236"
}

.material-icons.md-format_align_right:before {
	content: "\e237"
}

.material-icons.md-format_bold:before {
	content: "\e238"
}

.material-icons.md-format_clear:before {
	content: "\e239"
}

.material-icons.md-format_color_fill:before {
	content: "\e23a"
}

.material-icons.md-format_color_reset:before {
	content: "\e23b"
}

.material-icons.md-format_color_text:before {
	content: "\e23c"
}

.material-icons.md-format_indent_decrease:before {
	content: "\e23d"
}

.material-icons.md-format_indent_increase:before {
	content: "\e23e"
}

.material-icons.md-format_italic:before {
	content: "\e23f"
}

.material-icons.md-format_line_spacing:before {
	content: "\e240"
}

.material-icons.md-format_list_bulleted:before {
	content: "\e241"
}

.material-icons.md-format_list_numbered:before {
	content: "\e242"
}

.material-icons.md-format_paint:before {
	content: "\e243"
}

.material-icons.md-format_quote:before {
	content: "\e244"
}

.material-icons.md-format_shapes:before {
	content: "\e25e"
}

.material-icons.md-format_size:before {
	content: "\e245"
}

.material-icons.md-format_strikethrough:before {
	content: "\e246"
}

.material-icons.md-format_textdirection_l_to_r:before {
	content: "\e247"
}

.material-icons.md-format_textdirection_r_to_l:before {
	content: "\e248"
}

.material-icons.md-format_underlined:before {
	content: "\e249"
}

.material-icons.md-forum:before {
	content: "\e0bf"
}

.material-icons.md-forward:before {
	content: "\e154"
}

.material-icons.md-forward_10:before {
	content: "\e056"
}

.material-icons.md-forward_30:before {
	content: "\e057"
}

.material-icons.md-forward_5:before {
	content: "\e058"
}

.material-icons.md-free_breakfast:before {
	content: "\eb44"
}

.material-icons.md-fullscreen:before {
	content: "\e5d0"
}

.material-icons.md-fullscreen_exit:before {
	content: "\e5d1"
}

.material-icons.md-functions:before {
	content: "\e24a"
}

.material-icons.md-g_translate:before {
	content: "\e927"
}

.material-icons.md-gamepad:before {
	content: "\e30f"
}

.material-icons.md-games:before {
	content: "\e021"
}

.material-icons.md-gavel:before {
	content: "\e90e"
}

.material-icons.md-gesture:before {
	content: "\e155"
}

.material-icons.md-get_app:before {
	content: "\e884"
}

.material-icons.md-gif:before {
	content: "\e908"
}

.material-icons.md-golf_course:before {
	content: "\eb45"
}

.material-icons.md-gps_fixed:before {
	content: "\e1b3"
}

.material-icons.md-gps_not_fixed:before {
	content: "\e1b4"
}

.material-icons.md-gps_off:before {
	content: "\e1b5"
}

.material-icons.md-grade:before {
	content: "\e885"
}

.material-icons.md-gradient:before {
	content: "\e3e9"
}

.material-icons.md-grain:before {
	content: "\e3ea"
}

.material-icons.md-graphic_eq:before {
	content: "\e1b8"
}

.material-icons.md-grid_off:before {
	content: "\e3eb"
}

.material-icons.md-grid_on:before {
	content: "\e3ec"
}

.material-icons.md-group:before {
	content: "\e7ef"
}

.material-icons.md-group_add:before {
	content: "\e7f0"
}

.material-icons.md-group_work:before {
	content: "\e886"
}

.material-icons.md-hd:before {
	content: "\e052"
}

.material-icons.md-hdr_off:before {
	content: "\e3ed"
}

.material-icons.md-hdr_on:before {
	content: "\e3ee"
}

.material-icons.md-hdr_strong:before {
	content: "\e3f1"
}

.material-icons.md-hdr_weak:before {
	content: "\e3f2"
}

.material-icons.md-headset:before {
	content: "\e310"
}

.material-icons.md-headset_mic:before {
	content: "\e311"
}

.material-icons.md-healing:before {
	content: "\e3f3"
}

.material-icons.md-hearing:before {
	content: "\e023"
}

.material-icons.md-help:before {
	content: "\e887"
}

.material-icons.md-help_outline:before {
	content: "\e8fd"
}

.material-icons.md-high_quality:before {
	content: "\e024"
}

.material-icons.md-highlight:before {
	content: "\e25f"
}

.material-icons.md-highlight_off:before {
	content: "\e888"
}

.material-icons.md-history:before {
	content: "\e889"
}

.material-icons.md-home:before {
	content: "\e88a"
}

.material-icons.md-hot_tub:before {
	content: "\eb46"
}

.material-icons.md-hotel:before {
	content: "\e53a"
}

.material-icons.md-hourglass_empty:before {
	content: "\e88b"
}

.material-icons.md-hourglass_full:before {
	content: "\e88c"
}

.material-icons.md-http:before {
	content: "\e902"
}

.material-icons.md-https:before {
	content: "\e88d"
}

.material-icons.md-image:before {
	content: "\e3f4"
}

.material-icons.md-image_aspect_ratio:before {
	content: "\e3f5"
}

.material-icons.md-import_contacts:before {
	content: "\e0e0"
}

.material-icons.md-import_export:before {
	content: "\e0c3"
}

.material-icons.md-important_devices:before {
	content: "\e912"
}

.material-icons.md-inbox:before {
	content: "\e156"
}

.material-icons.md-indeterminate_check_box:before {
	content: "\e909"
}

.material-icons.md-info:before {
	content: "\e88e"
}

.material-icons.md-info_outline:before {
	content: "\e88f"
}

.material-icons.md-input:before {
	content: "\e890"
}

.material-icons.md-insert_chart:before {
	content: "\e24b"
}

.material-icons.md-insert_comment:before {
	content: "\e24c"
}

.material-icons.md-insert_drive_file:before {
	content: "\e24d"
}

.material-icons.md-insert_emoticon:before {
	content: "\e24e"
}

.material-icons.md-insert_invitation:before {
	content: "\e24f"
}

.material-icons.md-insert_link:before {
	content: "\e250"
}

.material-icons.md-insert_photo:before {
	content: "\e251"
}

.material-icons.md-invert_colors:before {
	content: "\e891"
}

.material-icons.md-invert_colors_off:before {
	content: "\e0c4"
}

.material-icons.md-iso:before {
	content: "\e3f6"
}

.material-icons.md-keyboard:before {
	content: "\e312"
}

.material-icons.md-keyboard_arrow_down:before {
	content: "\e313"
}

.material-icons.md-keyboard_arrow_left:before {
	content: "\e314"
}

.material-icons.md-keyboard_arrow_right:before {
	content: "\e315"
}

.material-icons.md-keyboard_arrow_up:before {
	content: "\e316"
}

.material-icons.md-keyboard_backspace:before {
	content: "\e317"
}

.material-icons.md-keyboard_capslock:before {
	content: "\e318"
}

.material-icons.md-keyboard_hide:before {
	content: "\e31a"
}

.material-icons.md-keyboard_return:before {
	content: "\e31b"
}

.material-icons.md-keyboard_tab:before {
	content: "\e31c"
}

.material-icons.md-keyboard_voice:before {
	content: "\e31d"
}

.material-icons.md-kitchen:before {
	content: "\eb47"
}

.material-icons.md-label:before {
	content: "\e892"
}

.material-icons.md-label_outline:before {
	content: "\e893"
}

.material-icons.md-landscape:before {
	content: "\e3f7"
}

.material-icons.md-language:before {
	content: "\e894"
}

.material-icons.md-laptop:before {
	content: "\e31e"
}

.material-icons.md-laptop_chromebook:before {
	content: "\e31f"
}

.material-icons.md-laptop_mac:before {
	content: "\e320"
}

.material-icons.md-laptop_windows:before {
	content: "\e321"
}

.material-icons.md-last_page:before {
	content: "\e5dd"
}

.material-icons.md-launch:before {
	content: "\e895"
}

.material-icons.md-layers:before {
	content: "\e53b"
}

.material-icons.md-layers_clear:before {
	content: "\e53c"
}

.material-icons.md-leak_add:before {
	content: "\e3f8"
}

.material-icons.md-leak_remove:before {
	content: "\e3f9"
}

.material-icons.md-lens:before {
	content: "\e3fa"
}

.material-icons.md-library_add:before {
	content: "\e02e"
}

.material-icons.md-library_books:before {
	content: "\e02f"
}

.material-icons.md-library_music:before {
	content: "\e030"
}

.material-icons.md-lightbulb_outline:before {
	content: "\e90f"
}

.material-icons.md-line_style:before {
	content: "\e919"
}

.material-icons.md-line_weight:before {
	content: "\e91a"
}

.material-icons.md-linear_scale:before {
	content: "\e260"
}

.material-icons.md-link:before {
	content: "\e157"
}

.material-icons.md-linked_camera:before {
	content: "\e438"
}

.material-icons.md-list:before {
	content: "\e896"
}

.material-icons.md-live_help:before {
	content: "\e0c6"
}

.material-icons.md-live_tv:before {
	content: "\e639"
}

.material-icons.md-local_activity:before {
	content: "\e53f"
}

.material-icons.md-local_airport:before {
	content: "\e53d"
}

.material-icons.md-local_atm:before {
	content: "\e53e"
}

.material-icons.md-local_bar:before {
	content: "\e540"
}

.material-icons.md-local_cafe:before {
	content: "\e541"
}

.material-icons.md-local_car_wash:before {
	content: "\e542"
}

.material-icons.md-local_convenience_store:before {
	content: "\e543"
}

.material-icons.md-local_dining:before {
	content: "\e556"
}

.material-icons.md-local_drink:before {
	content: "\e544"
}

.material-icons.md-local_florist:before {
	content: "\e545"
}

.material-icons.md-local_gas_station:before {
	content: "\e546"
}

.material-icons.md-local_grocery_store:before {
	content: "\e547"
}

.material-icons.md-local_hospital:before {
	content: "\e548"
}

.material-icons.md-local_hotel:before {
	content: "\e549"
}

.material-icons.md-local_laundry_service:before {
	content: "\e54a"
}

.material-icons.md-local_library:before {
	content: "\e54b"
}

.material-icons.md-local_mall:before {
	content: "\e54c"
}

.material-icons.md-local_movies:before {
	content: "\e54d"
}

.material-icons.md-local_offer:before {
	content: "\e54e"
}

.material-icons.md-local_parking:before {
	content: "\e54f"
}

.material-icons.md-local_pharmacy:before {
	content: "\e550"
}

.material-icons.md-local_phone:before {
	content: "\e551"
}

.material-icons.md-local_pizza:before {
	content: "\e552"
}

.material-icons.md-local_play:before {
	content: "\e553"
}

.material-icons.md-local_post_office:before {
	content: "\e554"
}

.material-icons.md-local_printshop:before {
	content: "\e555"
}

.material-icons.md-local_see:before {
	content: "\e557"
}

.material-icons.md-local_shipping:before {
	content: "\e558"
}

.material-icons.md-local_taxi:before {
	content: "\e559"
}

.material-icons.md-location_city:before {
	content: "\e7f1"
}

.material-icons.md-location_disabled:before {
	content: "\e1b6"
}

.material-icons.md-location_off:before {
	content: "\e0c7"
}

.material-icons.md-location_on:before {
	content: "\e0c8"
}

.material-icons.md-location_searching:before {
	content: "\e1b7"
}

.material-icons.md-lock:before {
	content: "\e897"
}

.material-icons.md-lock_open:before {
	content: "\e898"
}

.material-icons.md-lock_outline:before {
	content: "\e899"
}

.material-icons.md-looks:before {
	content: "\e3fc"
}

.material-icons.md-looks_3:before {
	content: "\e3fb"
}

.material-icons.md-looks_4:before {
	content: "\e3fd"
}

.material-icons.md-looks_5:before {
	content: "\e3fe"
}

.material-icons.md-looks_6:before {
	content: "\e3ff"
}

.material-icons.md-looks_one:before {
	content: "\e400"
}

.material-icons.md-looks_two:before {
	content: "\e401"
}

.material-icons.md-loop:before {
	content: "\e028"
}

.material-icons.md-loupe:before {
	content: "\e402"
}

.material-icons.md-low_priority:before {
	content: "\e16d"
}

.material-icons.md-loyalty:before {
	content: "\e89a"
}

.material-icons.md-mail:before {
	content: "\e158"
}

.material-icons.md-mail_outline:before {
	content: "\e0e1"
}

.material-icons.md-map:before {
	content: "\e55b"
}

.material-icons.md-markunread:before {
	content: "\e159"
}

.material-icons.md-markunread_mailbox:before {
	content: "\e89b"
}

.material-icons.md-memory:before {
	content: "\e322"
}

.material-icons.md-menu:before {
	content: "\e5d2"
}

.material-icons.md-merge_type:before {
	content: "\e252"
}

.material-icons.md-message:before {
	content: "\e0c9"
}

.material-icons.md-mic:before {
	content: "\e029"
}

.material-icons.md-mic_none:before {
	content: "\e02a"
}

.material-icons.md-mic_off:before {
	content: "\e02b"
}

.material-icons.md-mms:before {
	content: "\e618"
}

.material-icons.md-mode_comment:before {
	content: "\e253"
}

.material-icons.md-mode_edit:before {
	content: "\e254"
}

.material-icons.md-monetization_on:before {
	content: "\e263"
}

.material-icons.md-money_off:before {
	content: "\e25c"
}

.material-icons.md-monochrome_photos:before {
	content: "\e403"
}

.material-icons.md-mood:before {
	content: "\e7f2"
}

.material-icons.md-mood_bad:before {
	content: "\e7f3"
}

.material-icons.md-more:before {
	content: "\e619"
}

.material-icons.md-more_horiz:before {
	content: "\e5d3"
}

.material-icons.md-more_vert:before {
	content: "\e5d4"
}

.material-icons.md-motorcycle:before {
	content: "\e91b"
}

.material-icons.md-mouse:before {
	content: "\e323"
}

.material-icons.md-move_to_inbox:before {
	content: "\e168"
}

.material-icons.md-movie:before {
	content: "\e02c"
}

.material-icons.md-movie_creation:before {
	content: "\e404"
}

.material-icons.md-movie_filter:before {
	content: "\e43a"
}

.material-icons.md-multiline_chart:before {
	content: "\e6df"
}

.material-icons.md-music_note:before {
	content: "\e405"
}

.material-icons.md-music_video:before {
	content: "\e063"
}

.material-icons.md-my_location:before {
	content: "\e55c"
}

.material-icons.md-nature:before {
	content: "\e406"
}

.material-icons.md-nature_people:before {
	content: "\e407"
}

.material-icons.md-navigate_before:before {
	content: "\e408"
}

.material-icons.md-navigate_next:before {
	content: "\e409"
}

.material-icons.md-navigation:before {
	content: "\e55d"
}

.material-icons.md-near_me:before {
	content: "\e569"
}

.material-icons.md-network_cell:before {
	content: "\e1b9"
}

.material-icons.md-network_check:before {
	content: "\e640"
}

.material-icons.md-network_locked:before {
	content: "\e61a"
}

.material-icons.md-network_wifi:before {
	content: "\e1ba"
}

.material-icons.md-new_releases:before {
	content: "\e031"
}

.material-icons.md-next_week:before {
	content: "\e16a"
}

.material-icons.md-nfc:before {
	content: "\e1bb"
}

.material-icons.md-no_encryption:before {
	content: "\e641"
}

.material-icons.md-no_sim:before {
	content: "\e0cc"
}

.material-icons.md-not_interested:before {
	content: "\e033"
}

.material-icons.md-note:before {
	content: "\e06f"
}

.material-icons.md-note_add:before {
	content: "\e89c"
}

.material-icons.md-notifications:before {
	content: "\e7f4"
}

.material-icons.md-notifications_active:before {
	content: "\e7f7"
}

.material-icons.md-notifications_none:before {
	content: "\e7f5"
}

.material-icons.md-notifications_off:before {
	content: "\e7f6"
}

.material-icons.md-notifications_paused:before {
	content: "\e7f8"
}

.material-icons.md-offline_pin:before {
	content: "\e90a"
}

.material-icons.md-ondemand_video:before {
	content: "\e63a"
}

.material-icons.md-opacity:before {
	content: "\e91c"
}

.material-icons.md-open_in_browser:before {
	content: "\e89d"
}

.material-icons.md-open_in_new:before {
	content: "\e89e"
}

.material-icons.md-open_with:before {
	content: "\e89f"
}

.material-icons.md-pages:before {
	content: "\e7f9"
}

.material-icons.md-pageview:before {
	content: "\e8a0"
}

.material-icons.md-palette:before {
	content: "\e40a"
}

.material-icons.md-pan_tool:before {
	content: "\e925"
}

.material-icons.md-panorama:before {
	content: "\e40b"
}

.material-icons.md-panorama_fish_eye:before {
	content: "\e40c"
}

.material-icons.md-panorama_horizontal:before {
	content: "\e40d"
}

.material-icons.md-panorama_vertical:before {
	content: "\e40e"
}

.material-icons.md-panorama_wide_angle:before {
	content: "\e40f"
}

.material-icons.md-party_mode:before {
	content: "\e7fa"
}

.material-icons.md-pause:before {
	content: "\e034"
}

.material-icons.md-pause_circle_filled:before {
	content: "\e035"
}

.material-icons.md-pause_circle_outline:before {
	content: "\e036"
}

.material-icons.md-payment:before {
	content: "\e8a1"
}

.material-icons.md-people:before {
	content: "\e7fb"
}

.material-icons.md-people_outline:before {
	content: "\e7fc"
}

.material-icons.md-perm_camera_mic:before {
	content: "\e8a2"
}

.material-icons.md-perm_contact_calendar:before {
	content: "\e8a3"
}

.material-icons.md-perm_data_setting:before {
	content: "\e8a4"
}

.material-icons.md-perm_device_information:before {
	content: "\e8a5"
}

.material-icons.md-perm_identity:before {
	content: "\e8a6"
}

.material-icons.md-perm_media:before {
	content: "\e8a7"
}

.material-icons.md-perm_phone_msg:before {
	content: "\e8a8"
}

.material-icons.md-perm_scan_wifi:before {
	content: "\e8a9"
}

.material-icons.md-person:before {
	content: "\e7fd"
}

.material-icons.md-person_add:before {
	content: "\e7fe"
}

.material-icons.md-person_outline:before {
	content: "\e7ff"
}

.material-icons.md-person_pin:before {
	content: "\e55a"
}

.material-icons.md-person_pin_circle:before {
	content: "\e56a"
}

.material-icons.md-personal_video:before {
	content: "\e63b"
}

.material-icons.md-pets:before {
	content: "\e91d"
}

.material-icons.md-phone:before {
	content: "\e0cd"
}

.material-icons.md-phone_android:before {
	content: "\e324"
}

.material-icons.md-phone_bluetooth_speaker:before {
	content: "\e61b"
}

.material-icons.md-phone_forwarded:before {
	content: "\e61c"
}

.material-icons.md-phone_in_talk:before {
	content: "\e61d"
}

.material-icons.md-phone_iphone:before {
	content: "\e325"
}

.material-icons.md-phone_locked:before {
	content: "\e61e"
}

.material-icons.md-phone_missed:before {
	content: "\e61f"
}

.material-icons.md-phone_paused:before {
	content: "\e620"
}

.material-icons.md-phonelink:before {
	content: "\e326"
}

.material-icons.md-phonelink_erase:before {
	content: "\e0db"
}

.material-icons.md-phonelink_lock:before {
	content: "\e0dc"
}

.material-icons.md-phonelink_off:before {
	content: "\e327"
}

.material-icons.md-phonelink_ring:before {
	content: "\e0dd"
}

.material-icons.md-phonelink_setup:before {
	content: "\e0de"
}

.material-icons.md-photo:before {
	content: "\e410"
}

.material-icons.md-photo_album:before {
	content: "\e411"
}

.material-icons.md-photo_camera:before {
	content: "\e412"
}

.material-icons.md-photo_filter:before {
	content: "\e43b"
}

.material-icons.md-photo_library:before {
	content: "\e413"
}

.material-icons.md-photo_size_select_actual:before {
	content: "\e432"
}

.material-icons.md-photo_size_select_large:before {
	content: "\e433"
}

.material-icons.md-photo_size_select_small:before {
	content: "\e434"
}

.material-icons.md-picture_as_pdf:before {
	content: "\e415"
}

.material-icons.md-picture_in_picture:before {
	content: "\e8aa"
}

.material-icons.md-picture_in_picture_alt:before {
	content: "\e911"
}

.material-icons.md-pie_chart:before {
	content: "\e6c4"
}

.material-icons.md-pie_chart_outlined:before {
	content: "\e6c5"
}

.material-icons.md-pin_drop:before {
	content: "\e55e"
}

.material-icons.md-place:before {
	content: "\e55f"
}

.material-icons.md-play_arrow:before {
	content: "\e037"
}

.material-icons.md-play_circle_filled:before {
	content: "\e038"
}

.material-icons.md-play_circle_outline:before {
	content: "\e039"
}

.material-icons.md-play_for_work:before {
	content: "\e906"
}

.material-icons.md-playlist_add:before {
	content: "\e03b"
}

.material-icons.md-playlist_add_check:before {
	content: "\e065"
}

.material-icons.md-playlist_play:before {
	content: "\e05f"
}

.material-icons.md-plus_one:before {
	content: "\e800"
}

.material-icons.md-poll:before {
	content: "\e801"
}

.material-icons.md-polymer:before {
	content: "\e8ab"
}

.material-icons.md-pool:before {
	content: "\eb48"
}

.material-icons.md-portable_wifi_off:before {
	content: "\e0ce"
}

.material-icons.md-portrait:before {
	content: "\e416"
}

.material-icons.md-power:before {
	content: "\e63c"
}

.material-icons.md-power_input:before {
	content: "\e336"
}

.material-icons.md-power_settings_new:before {
	content: "\e8ac"
}

.material-icons.md-pregnant_woman:before {
	content: "\e91e"
}

.material-icons.md-present_to_all:before {
	content: "\e0df"
}

.material-icons.md-print:before {
	content: "\e8ad"
}

.material-icons.md-priority_high:before {
	content: "\e645"
}

.material-icons.md-public:before {
	content: "\e80b"
}

.material-icons.md-publish:before {
	content: "\e255"
}

.material-icons.md-query_builder:before {
	content: "\e8ae"
}

.material-icons.md-question_answer:before {
	content: "\e8af"
}

.material-icons.md-queue:before {
	content: "\e03c"
}

.material-icons.md-queue_music:before {
	content: "\e03d"
}

.material-icons.md-queue_play_next:before {
	content: "\e066"
}

.material-icons.md-radio:before {
	content: "\e03e"
}

.material-icons.md-radio_button_checked:before {
	content: "\e837"
}

.material-icons.md-radio_button_unchecked:before {
	content: "\e836"
}

.material-icons.md-rate_review:before {
	content: "\e560"
}

.material-icons.md-receipt:before {
	content: "\e8b0"
}

.material-icons.md-recent_actors:before {
	content: "\e03f"
}

.material-icons.md-record_voice_over:before {
	content: "\e91f"
}

.material-icons.md-redeem:before {
	content: "\e8b1"
}

.material-icons.md-redo:before {
	content: "\e15a"
}

.material-icons.md-refresh:before {
	content: "\e5d5"
}

.material-icons.md-remove:before {
	content: "\e15b"
}

.material-icons.md-remove_circle:before {
	content: "\e15c"
}

.material-icons.md-remove_circle_outline:before {
	content: "\e15d"
}

.material-icons.md-remove_from_queue:before {
	content: "\e067"
}

.material-icons.md-remove_red_eye:before {
	content: "\e417"
}

.material-icons.md-remove_shopping_cart:before {
	content: "\e928"
}

.material-icons.md-reorder:before {
	content: "\e8fe"
}

.material-icons.md-repeat:before {
	content: "\e040"
}

.material-icons.md-repeat_one:before {
	content: "\e041"
}

.material-icons.md-replay:before {
	content: "\e042"
}

.material-icons.md-replay_10:before {
	content: "\e059"
}

.material-icons.md-replay_30:before {
	content: "\e05a"
}

.material-icons.md-replay_5:before {
	content: "\e05b"
}

.material-icons.md-reply:before {
	content: "\e15e"
}

.material-icons.md-reply_all:before {
	content: "\e15f"
}

.material-icons.md-report:before {
	content: "\e160"
}

.material-icons.md-report_problem:before {
	content: "\e8b2"
}

.material-icons.md-restaurant:before {
	content: "\e56c"
}

.material-icons.md-restaurant_menu:before {
	content: "\e561"
}

.material-icons.md-restore:before {
	content: "\e8b3"
}

.material-icons.md-restore_page:before {
	content: "\e929"
}

.material-icons.md-ring_volume:before {
	content: "\e0d1"
}

.material-icons.md-room:before {
	content: "\e8b4"
}

.material-icons.md-room_service:before {
	content: "\eb49"
}

.material-icons.md-rotate_90_degrees_ccw:before {
	content: "\e418"
}

.material-icons.md-rotate_left:before {
	content: "\e419"
}

.material-icons.md-rotate_right:before {
	content: "\e41a"
}

.material-icons.md-rounded_corner:before {
	content: "\e920"
}

.material-icons.md-router:before {
	content: "\e328"
}

.material-icons.md-rowing:before {
	content: "\e921"
}

.material-icons.md-rss_feed:before {
	content: "\e0e5"
}

.material-icons.md-rv_hookup:before {
	content: "\e642"
}

.material-icons.md-satellite:before {
	content: "\e562"
}

.material-icons.md-save:before {
	content: "\e161"
}

.material-icons.md-scanner:before {
	content: "\e329"
}

.material-icons.md-schedule:before {
	content: "\e8b5"
}

.material-icons.md-school:before {
	content: "\e80c"
}

.material-icons.md-screen_lock_landscape:before {
	content: "\e1be"
}

.material-icons.md-screen_lock_portrait:before {
	content: "\e1bf"
}

.material-icons.md-screen_lock_rotation:before {
	content: "\e1c0"
}

.material-icons.md-screen_rotation:before {
	content: "\e1c1"
}

.material-icons.md-screen_share:before {
	content: "\e0e2"
}

.material-icons.md-sd_card:before {
	content: "\e623"
}

.material-icons.md-sd_storage:before {
	content: "\e1c2"
}

.material-icons.md-search:before {
	content: "\e8b6"
}

.material-icons.md-security:before {
	content: "\e32a"
}

.material-icons.md-select_all:before {
	content: "\e162"
}

.material-icons.md-send:before {
	content: "\e163"
}

.material-icons.md-sentiment_dissatisfied:before {
	content: "\e811"
}

.material-icons.md-sentiment_neutral:before {
	content: "\e812"
}

.material-icons.md-sentiment_satisfied:before {
	content: "\e813"
}

.material-icons.md-sentiment_very_dissatisfied:before {
	content: "\e814"
}

.material-icons.md-sentiment_very_satisfied:before {
	content: "\e815"
}

.material-icons.md-settings:before {
	content: "\e8b8"
}

.material-icons.md-settings_applications:before {
	content: "\e8b9"
}

.material-icons.md-settings_backup_restore:before {
	content: "\e8ba"
}

.material-icons.md-settings_bluetooth:before {
	content: "\e8bb"
}

.material-icons.md-settings_brightness:before {
	content: "\e8bd"
}

.material-icons.md-settings_cell:before {
	content: "\e8bc"
}

.material-icons.md-settings_ethernet:before {
	content: "\e8be"
}

.material-icons.md-settings_input_antenna:before {
	content: "\e8bf"
}

.material-icons.md-settings_input_component:before {
	content: "\e8c0"
}

.material-icons.md-settings_input_composite:before {
	content: "\e8c1"
}

.material-icons.md-settings_input_hdmi:before {
	content: "\e8c2"
}

.material-icons.md-settings_input_svideo:before {
	content: "\e8c3"
}

.material-icons.md-settings_overscan:before {
	content: "\e8c4"
}

.material-icons.md-settings_phone:before {
	content: "\e8c5"
}

.material-icons.md-settings_power:before {
	content: "\e8c6"
}

.material-icons.md-settings_remote:before {
	content: "\e8c7"
}

.material-icons.md-settings_system_daydream:before {
	content: "\e1c3"
}

.material-icons.md-settings_voice:before {
	content: "\e8c8"
}

.material-icons.md-share:before {
	content: "\e80d"
}

.material-icons.md-shop:before {
	content: "\e8c9"
}

.material-icons.md-shop_two:before {
	content: "\e8ca"
}

.material-icons.md-shopping_basket:before {
	content: "\e8cb"
}

.material-icons.md-shopping_cart:before {
	content: "\e8cc"
}

.material-icons.md-short_text:before {
	content: "\e261"
}

.material-icons.md-show_chart:before {
	content: "\e6e1"
}

.material-icons.md-shuffle:before {
	content: "\e043"
}

.material-icons.md-signal_cellular_4_bar:before {
	content: "\e1c8"
}

.material-icons.md-signal_cellular_connected_no_internet_4_bar:before {
	content: "\e1cd"
}

.material-icons.md-signal_cellular_no_sim:before {
	content: "\e1ce"
}

.material-icons.md-signal_cellular_null:before {
	content: "\e1cf"
}

.material-icons.md-signal_cellular_off:before {
	content: "\e1d0"
}

.material-icons.md-signal_wifi_4_bar:before {
	content: "\e1d8"
}

.material-icons.md-signal_wifi_4_bar_lock:before {
	content: "\e1d9"
}

.material-icons.md-signal_wifi_off:before {
	content: "\e1da"
}

.material-icons.md-sim_card:before {
	content: "\e32b"
}

.material-icons.md-sim_card_alert:before {
	content: "\e624"
}

.material-icons.md-skip_next:before {
	content: "\e044"
}

.material-icons.md-skip_previous:before {
	content: "\e045"
}

.material-icons.md-slideshow:before {
	content: "\e41b"
}

.material-icons.md-slow_motion_video:before {
	content: "\e068"
}

.material-icons.md-smartphone:before {
	content: "\e32c"
}

.material-icons.md-smoke_free:before {
	content: "\eb4a"
}

.material-icons.md-smoking_rooms:before {
	content: "\eb4b"
}

.material-icons.md-sms:before {
	content: "\e625"
}

.material-icons.md-sms_failed:before {
	content: "\e626"
}

.material-icons.md-snooze:before {
	content: "\e046"
}

.material-icons.md-sort:before {
	content: "\e164"
}

.material-icons.md-sort_by_alpha:before {
	content: "\e053"
}

.material-icons.md-spa:before {
	content: "\eb4c"
}

.material-icons.md-space_bar:before {
	content: "\e256"
}

.material-icons.md-speaker:before {
	content: "\e32d"
}

.material-icons.md-speaker_group:before {
	content: "\e32e"
}

.material-icons.md-speaker_notes:before {
	content: "\e8cd"
}

.material-icons.md-speaker_notes_off:before {
	content: "\e92a"
}

.material-icons.md-speaker_phone:before {
	content: "\e0d2"
}

.material-icons.md-spellcheck:before {
	content: "\e8ce"
}

.material-icons.md-star:before {
	content: "\e838"
}

.material-icons.md-star_border:before {
	content: "\e83a"
}

.material-icons.md-star_half:before {
	content: "\e839"
}

.material-icons.md-stars:before {
	content: "\e8d0"
}

.material-icons.md-stay_current_landscape:before {
	content: "\e0d3"
}

.material-icons.md-stay_current_portrait:before {
	content: "\e0d4"
}

.material-icons.md-stay_primary_landscape:before {
	content: "\e0d5"
}

.material-icons.md-stay_primary_portrait:before {
	content: "\e0d6"
}

.material-icons.md-stop:before {
	content: "\e047"
}

.material-icons.md-stop_screen_share:before {
	content: "\e0e3"
}

.material-icons.md-storage:before {
	content: "\e1db"
}

.material-icons.md-store:before {
	content: "\e8d1"
}

.material-icons.md-store_mall_directory:before {
	content: "\e563"
}

.material-icons.md-straighten:before {
	content: "\e41c"
}

.material-icons.md-streetview:before {
	content: "\e56e"
}

.material-icons.md-strikethrough_s:before {
	content: "\e257"
}

.material-icons.md-style:before {
	content: "\e41d"
}

.material-icons.md-subdirectory_arrow_left:before {
	content: "\e5d9"
}

.material-icons.md-subdirectory_arrow_right:before {
	content: "\e5da"
}

.material-icons.md-subject:before {
	content: "\e8d2"
}

.material-icons.md-subscriptions:before {
	content: "\e064"
}

.material-icons.md-subtitles:before {
	content: "\e048"
}

.material-icons.md-subway:before {
	content: "\e56f"
}

.material-icons.md-supervisor_account:before {
	content: "\e8d3"
}

.material-icons.md-surround_sound:before {
	content: "\e049"
}

.material-icons.md-swap_calls:before {
	content: "\e0d7"
}

.material-icons.md-swap_horiz:before {
	content: "\e8d4"
}

.material-icons.md-swap_vert:before {
	content: "\e8d5"
}

.material-icons.md-swap_vertical_circle:before {
	content: "\e8d6"
}

.material-icons.md-switch_camera:before {
	content: "\e41e"
}

.material-icons.md-switch_video:before {
	content: "\e41f"
}

.material-icons.md-sync:before {
	content: "\e627"
}

.material-icons.md-sync_disabled:before {
	content: "\e628"
}

.material-icons.md-sync_problem:before {
	content: "\e629"
}

.material-icons.md-system_update:before {
	content: "\e62a"
}

.material-icons.md-system_update_alt:before {
	content: "\e8d7"
}

.material-icons.md-tab:before {
	content: "\e8d8"
}

.material-icons.md-tab_unselected:before {
	content: "\e8d9"
}

.material-icons.md-tablet:before {
	content: "\e32f"
}

.material-icons.md-tablet_android:before {
	content: "\e330"
}

.material-icons.md-tablet_mac:before {
	content: "\e331"
}

.material-icons.md-tag_faces:before {
	content: "\e420"
}

.material-icons.md-tap_and_play:before {
	content: "\e62b"
}

.material-icons.md-terrain:before {
	content: "\e564"
}

.material-icons.md-text_fields:before {
	content: "\e262"
}

.material-icons.md-text_format:before {
	content: "\e165"
}

.material-icons.md-textsms:before {
	content: "\e0d8"
}

.material-icons.md-texture:before {
	content: "\e421"
}

.material-icons.md-theaters:before {
	content: "\e8da"
}

.material-icons.md-thumb_down:before {
	content: "\e8db"
}

.material-icons.md-thumb_up:before {
	content: "\e8dc"
}

.material-icons.md-thumbs_up_down:before {
	content: "\e8dd"
}

.material-icons.md-time_to_leave:before {
	content: "\e62c"
}

.material-icons.md-timelapse:before {
	content: "\e422"
}

.material-icons.md-timeline:before {
	content: "\e922"
}

.material-icons.md-timer:before {
	content: "\e425"
}

.material-icons.md-timer_10:before {
	content: "\e423"
}

.material-icons.md-timer_3:before {
	content: "\e424"
}

.material-icons.md-timer_off:before {
	content: "\e426"
}

.material-icons.md-title:before {
	content: "\e264"
}

.material-icons.md-toc:before {
	content: "\e8de"
}

.material-icons.md-today:before {
	content: "\e8df"
}

.material-icons.md-toll:before {
	content: "\e8e0"
}

.material-icons.md-tonality:before {
	content: "\e427"
}

.material-icons.md-touch_app:before {
	content: "\e913"
}

.material-icons.md-toys:before {
	content: "\e332"
}

.material-icons.md-track_changes:before {
	content: "\e8e1"
}

.material-icons.md-traffic:before {
	content: "\e565"
}

.material-icons.md-train:before {
	content: "\e570"
}

.material-icons.md-tram:before {
	content: "\e571"
}

.material-icons.md-transfer_within_a_station:before {
	content: "\e572"
}

.material-icons.md-transform:before {
	content: "\e428"
}

.material-icons.md-translate:before {
	content: "\e8e2"
}

.material-icons.md-trending_down:before {
	content: "\e8e3"
}

.material-icons.md-trending_flat:before {
	content: "\e8e4"
}

.material-icons.md-trending_up:before {
	content: "\e8e5"
}

.material-icons.md-tune:before {
	content: "\e429"
}

.material-icons.md-turned_in:before {
	content: "\e8e6"
}

.material-icons.md-turned_in_not:before {
	content: "\e8e7"
}

.material-icons.md-tv:before {
	content: "\e333"
}

.material-icons.md-unarchive:before {
	content: "\e169"
}

.material-icons.md-undo:before {
	content: "\e166"
}

.material-icons.md-unfold_less:before {
	content: "\e5d6"
}

.material-icons.md-unfold_more:before {
	content: "\e5d7"
}

.material-icons.md-update:before {
	content: "\e923"
}

.material-icons.md-usb:before {
	content: "\e1e0"
}

.material-icons.md-verified_user:before {
	content: "\e8e8"
}

.material-icons.md-vertical_align_bottom:before {
	content: "\e258"
}

.material-icons.md-vertical_align_center:before {
	content: "\e259"
}

.material-icons.md-vertical_align_top:before {
	content: "\e25a"
}

.material-icons.md-vibration:before {
	content: "\e62d"
}

.material-icons.md-video_call:before {
	content: "\e070"
}

.material-icons.md-video_label:before {
	content: "\e071"
}

.material-icons.md-video_library:before {
	content: "\e04a"
}

.material-icons.md-videocam:before {
	content: "\e04b"
}

.material-icons.md-videocam_off:before {
	content: "\e04c"
}

.material-icons.md-videogame_asset:before {
	content: "\e338"
}

.material-icons.md-view_agenda:before {
	content: "\e8e9"
}

.material-icons.md-view_array:before {
	content: "\e8ea"
}

.material-icons.md-view_carousel:before {
	content: "\e8eb"
}

.material-icons.md-view_column:before {
	content: "\e8ec"
}

.material-icons.md-view_comfy:before {
	content: "\e42a"
}

.material-icons.md-view_compact:before {
	content: "\e42b"
}

.material-icons.md-view_day:before {
	content: "\e8ed"
}

.material-icons.md-view_headline:before {
	content: "\e8ee"
}

.material-icons.md-view_list:before {
	content: "\e8ef"
}

.material-icons.md-view_module:before {
	content: "\e8f0"
}

.material-icons.md-view_quilt:before {
	content: "\e8f1"
}

.material-icons.md-view_stream:before {
	content: "\e8f2"
}

.material-icons.md-view_week:before {
	content: "\e8f3"
}

.material-icons.md-vignette:before {
	content: "\e435"
}

.material-icons.md-visibility:before {
	content: "\e8f4"
}

.material-icons.md-visibility_off:before {
	content: "\e8f5"
}

.material-icons.md-voice_chat:before {
	content: "\e62e"
}

.material-icons.md-voicemail:before {
	content: "\e0d9"
}

.material-icons.md-volume_down:before {
	content: "\e04d"
}

.material-icons.md-volume_mute:before {
	content: "\e04e"
}

.material-icons.md-volume_off:before {
	content: "\e04f"
}

.material-icons.md-volume_up:before {
	content: "\e050"
}

.material-icons.md-vpn_key:before {
	content: "\e0da"
}

.material-icons.md-vpn_lock:before {
	content: "\e62f"
}

.material-icons.md-wallpaper:before {
	content: "\e1bc"
}

.material-icons.md-warning:before {
	content: "\e002"
}

.material-icons.md-watch:before {
	content: "\e334"
}

.material-icons.md-watch_later:before {
	content: "\e924"
}

.material-icons.md-wb_auto:before {
	content: "\e42c"
}

.material-icons.md-wb_cloudy:before {
	content: "\e42d"
}

.material-icons.md-wb_incandescent:before {
	content: "\e42e"
}

.material-icons.md-wb_iridescent:before {
	content: "\e436"
}

.material-icons.md-wb_sunny:before {
	content: "\e430"
}

.material-icons.md-wc:before {
	content: "\e63d"
}

.material-icons.md-web:before {
	content: "\e051"
}

.material-icons.md-web_asset:before {
	content: "\e069"
}

.material-icons.md-weekend:before {
	content: "\e16b"
}

.material-icons.md-whatshot:before {
	content: "\e80e"
}

.material-icons.md-widgets:before {
	content: "\e1bd"
}

.material-icons.md-wifi:before {
	content: "\e63e"
}

.material-icons.md-wifi_lock:before {
	content: "\e1e1"
}

.material-icons.md-wifi_tethering:before {
	content: "\e1e2"
}

.material-icons.md-work:before {
	content: "\e8f9"
}

.material-icons.md-wrap_text:before {
	content: "\e25b"
}

.material-icons.md-youtube_searched_for:before {
	content: "\e8fa"
}

.material-icons.md-zoom_in:before {
	content: "\e8ff"
}

.material-icons.md-zoom_out:before {
	content: "\e900"
}

.material-icons.md-zoom_out_map:before {
	content: "\e56b"
}